<% include ./partials/header %>

<div class="container">
<div class="row">
  <div class="col-12 text-center">
    <h1>Spreads Page</h1>
  </div>
</div>
<div class="row">
  <% spreads.forEach(function(spreads) { %>
  <div class="col-12 col-md-6 col-lg-3">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title"><%= spreads.name %></h3>
      <h5 class="card-subtitle text-muted"><%= spreads.num %> Cards</h5>
    </div>
    <img class="img-fluid" src="<%= spreads.imgUrl %>" alt="<%= spreads.name %> spread">
    <div class="card-body">
      <p class="card-text"><%= spreads.notes %></p>
    </div>
  </div>
  </div>
  <% }); %>
</div>
</div>

<% include ./partials/footer %>