<% include ./partials/header %>

<div class="container">
<div class="row">
  <div class="col-12 text-center">
    <h1>Spread Details</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <a class="new-spread-btn" href="/spreads/<%= spread._id %>/edit">Edit Spread</a>
  </div>
</div>
<div class="row">
  <div class="col-12">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title"><%= spread.name %></h3>
      <h5 class="card-subtitle text-muted"><%= spread.num %> Cards</h5>
    </div>
    <img class="img-fluid" src="<%= spread.imgUrl %>" alt="<%= spread.name %> spread">
    <div class="card-body">
      <p class="card-text"><%= spread.notes %></p>
    </div>
  </div>
  </div>
</div>
</div>

<% include ./partials/footer %>